@using Griffin.MvcContrib.Areas.Griffin.Models.LocalizeTypes
@model EditModel
@{
    ViewBag.Title = "Edit";
}
<div class="griffin">
    <h2>
        Edit</h2>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TextKey)
        @Html.HiddenFor(model => model.LocaleId)
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@Model.Path</legend>
            <br />
            <br />
            <div style="border: 1px solid #cccccc; background-color: #f0f0f0;">
                @Model.DefaultText
            </div>
            <br />
            <br />
            <div>
                @Html.TextAreaFor(model => model.Text, 20, 80, null)
            </div>
            <p>
                <input type="submit" value="Save" />
                <!--<input type="submit" name="Continue" value="Save & Next" />-->
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
